acres==0.2.0
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.8.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.2.0
autobahn==24.4.2
Automat==24.8.1
boto3==1.28.1
botocore==1.31.85
Brotli==1.1.0
CacheControl==0.14.0
cachetools==4.2.4
certifi==2021.5.30
cffi==1.17.1
channels==3.0.4
chardet==3.0.4
charset-normalizer==2.0.6
ci-info==0.3.0
click==8.1.7
colorama==0.4.4
configobj==5.0.9
configparser==7.1.0
constantly==23.10.4
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
crispy-bootstrap5==2024.10
cryptography==42.0.5
cssselect2==0.7.0
currencies==2020.12.12
daphne==3.0.2
distlib==0.3.8
Django==3.2.7
django-admin-thumbnails==0.2.9
django-ckeditor==6.7.1
django-cors-headers==3.7.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-js-asset==2.2.0
django-mathfilters==0.4.0
django-mptt==0.14.0
django-multiselectfield==0.1.12
django-qr-code==3.1.1
django-rest-framework==0.1.0
django-sitemaps==1.1
django-tawkto==0.3
djangorestframework==3.12.4
djangorestframework-simplejwt==5.3.1
docopt==0.6.2
drf-spectacular==0.27.2
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.2
fcm-django==2.1.0
filelock==3.14.0
firebase-admin==6.5.0
fitz==0.0.1.dev2
fonttools==4.55.0
frontend==0.0.3
frozenlist==1.4.1
future==1.0.0
gcloud==0.18.3
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-cloud-vision==3.7.2
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.63.0
grpcio-status==1.62.2
gunicorn==19.9.0
h11==0.14.0
html5lib==1.1
httplib2==0.19.1
hyperlink==21.0.0
idna==3.6
importlib_metadata==8.6.1
importlib_resources==6.5.2
incremental==24.7.2
inflection==0.5.1
instamojo-wrapper==1.2.0
isodate==0.6.1
itsdangerous==2.2.0
itypes==1.2.0
Jinja2==3.1.3
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jwcrypto==1.5.6
jws==0.1.3
looseversion==1.3.0
lxml==5.1.0
MarkupSafe==2.1.5
msgpack==1.0.8
multidict==6.0.5
mysqlclient==2.2.4
networkx==3.2.1
nibabel==5.3.2
nipype==1.9.2
num2words==0.5.10
numpy==1.24.4
oauth2client==4.1.3
openpyxl==3.0.9
oscrypto==1.3.0
packaging==21.0
pandas==2.0.3
pathlib==1.0.1
pillow==11.0.0
platformdirs==4.2.2
proto-plus==1.23.0
protobuf==4.25.3
prov==2.0.1
puremagic==1.28
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybase64==1.3.2
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.10.6
pydantic_core==2.27.2
pydot==1.4.2
pydyf==0.11.0
pyHanko==0.23.2
pyhanko-certvalidator==0.26.3
PyJWT==2.8.0
PyMuPDF==1.25.2
PyMySQL==1.0.2
pyOpenSSL==24.3.0
pyparsing==2.4.7
pypdf==4.1.0
PyPDF2==3.0.1
pyphen==0.17.0
pypng==0.20220715.0
PyQRCode==1.2.1
Pyrebase4==4.5.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-http-client==3.3.3
python-jwt==2.0.1
pytils==0.4.1
pytz==2021.1
pyxnat==1.6.2
PyYAML==6.0.1
qrcode==7.4.2
rdflib==6.3.2
referencing==0.35.1
reportlab==4.0.9
requests==2.31.0
requests-toolbelt==0.9.1
rest-framework-simplejwt==0.0.2
rpds-py==0.20.0
rsa==4.9
s3transfer==0.6.2
scipy==1.13.1
segno==1.6.6
sendgrid==5.5.0
service-identity==24.2.0
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.2
starlette==0.45.2
svglib==1.5.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.2.1
tools==0.1.9
traits==6.4.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uritemplate==3.0.1
uritools==4.0.2
urllib3==1.26.9
uvicorn==0.34.0
validate-email==1.3
virtualenv==20.26.2
webencodings==0.5.1
whitenoise==6.6.0
xhtml2pdf==0.2.15
yarl==1.9.4
zipp==3.21.0
zope.interface==7.2
zopfli==0.2.3.post1